{% extends 'base.html' %}
{% load static %} 

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/finch-detail.css' %}"
/>
<script defer src="{% static 'js/plant-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="cat-container">
    <div class="plant-img">
    {% comment %} <img 
    src="" 
    alt=""> {% endcomment %}

    </div>
    <divclass="plant-details">
        <h1>{{plant.type}}</h1>
        {% comment %} {% if finch.age > 0 %}
    <h2>A {{ finch.age }} year old {{ finch.breed }}</h2>
    {% else %}
    <h2>A {{ finch.breed }} kitten.</h2>
    {% endif %} {% endcomment %}
    <p>{{ plant.description }}</p>
    <div class="plant-actions">
      <a href="{% url 'plants_update' plant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plants_delete' plant.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Change {{ finch.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' finch.id %}"
      enctype="multipart/form-data"
      method="POST"
    >

</section>

<div class="caring-container">
  <section class="carings">
    <div class="subsection-title">
      <h2>Gardening</h2>
    </div>
    <h3>Add a Session</h3>
    <form 
      action="{% url 'add_caring' plant.id %}"
      method="post"
      class="subsection-section"
    >
      {% comment %} {% if finch.fed_for_today %}
        <p class="fed">{{ finch.name }} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{ finch.name }} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }} {% endcomment %}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
      {% comment %} <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      /> {% endcomment %}
    </div>
    <table>
      <thead>
        <tr><th>Date</th><th>Gardening</th></tr>
      </thead>
      <tbody>
        {% for carings in plant.caring_set.all %}
          <tr>
            <td>{{caring.date}}</td>
            <td>{{caring.get_care_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock  %}


