{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/plant-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Plant List</h1>

</section>

<section class="card-container">
  {% for plant in plants %}
    <div class="card">
      <a href="{% url 'plants_details' plant.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if plant.photo.url %}
              <img 
                src="{{plant.photo.url}}" 
                alt="A photo of {{plant.name}}"
                class="usr-img"
                width="200" 
                height="200"
              >
            {% else %}
              <img 
                src="{% static 'images/place-holder.svg' %}" 
                alt="A place-holder"
              >
            {% endif %}
          </div>
          <h2 class="card-title">{{ plant.type }}</h2>
            <p>A Plant Baby</p>
          <p><small>Click to view care instructions</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>




{% endblock %}