.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color:rgb(10,31,25);
}

page-header {
  margin-top: 20px;
}

table {
  padding: 0 40px;
  width: 70%;
  border-spacing: 0 20px;
  margin-left: 18%;
  margin-top: 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  vertical-align: top;
  font-size: var(--font-reg);
  font-weight: 400;
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-reg);
}

td > textarea {
  height: calc(4 * var(--font-reg) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 195px;
  margin-top: 20px;
}