.plant-container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plant-img {
  width: 75%;
  max-width: 350px;
  margin-left: 385px;
}

.plant-actions {
  margin-top: 20px;
  height: auto;
}

.caring-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.subsection-section {
  margin: 0 8px;
}


.uncared,
.cared,
.subsection-content {
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

.uncared, .subsection-content{
  color: rgb(135,75,81);
}

.subsection-content {
  margin-top: 12px;
}


.cared {
  color: green;
}

.plant-details h1 {
  font-size: 24px;
  margin: 15px 0 3px;
}

.plant-details h2 {
  margin: 0 0 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size:18px;
}

.plant-details h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size:12px;
  font-style: italic;
}

.plant-details p {
  margin: 5px 0;
}

.caring-container > section {
  width: 41%;
  min-width: 315px;
  border: rgb(113,128,93) solid 5px;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 5px 5px 6px -1px #AAA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.carings h2 {
  font-size: 15px;
}

.carings h3{
  font-size: 15px;
  margin-top: 10px;
}

.subsection-section p,
.subsection-section input,
.subsection-section select,
.subsection-content {
  font-size: 1.3rem;
}

.subsection-section input,
.subsection-section select,
.subsection-content {
  margin-left: 5px;
  padding: 3px;
}

.carings table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.carings td {
  padding: 8px 5px;
}

.carings th {
  font-size: 1.1rem;
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;;
}

.carings  tr:nth-child(even) {
  background-color: #f3f3fd;
}

.usr-img {
  width: 100%;
}

.plants-details h3 {
  margin: 16px 0 10px 0;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: .1px;
  height: .1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .plant-container {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .plant-img {
    width: 20%;
    max-width: 200px;
    margin-right: 25px;
  }

  .carings-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .carings-container > section {
    width: 42.5%;
  }
}