
.card-container {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: rgb(113,128,93) solid 5px;
  box-shadow: 5px 5px 6px -1px #AAA;
}

.card-content {
  padding: 10px;
  width: 255px;
}

.card > a {
  text-decoration: none;
  color: rgb(12,43,38);
}

.card h2 {
  margin: 10px 0;
  color:rgb(113,128,93);
}

.card p {
  margin: 5px 0;
  color:rgb(135,75,81);
  font-size: small;
}